@import "reboot.min.scss";
@import "fonts.scss";
@import "variable.scss";

body {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  color: #121127;
}
header {
  width: 78.334%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #121127b8;
}
.list-style-none {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dsp-flex {
  display: flex;
  align-items: center;
}
.dialog-window-bkgr {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff66;
  backdrop-filter: blur(44px);
  z-index: 10;
  .dialog-window {
    display: flex;
    align-items: center;
    position: relative;
    width: 950px;
    height: 657px;
    border: 0;
    padding: 0;
    border-radius: 24px;
    box-shadow: 0 20px 80px 0 #00000033;
    z-index: 11;
    .dialog-window__block {
      width: 50%;
      text-align: center;
      .dialog-window__dlex {
        margin-bottom: 31px;
        justify-content: center;
        .logo {
          width: 20.9px;
          height: 27px;
          background-size: contain;
          background-color: #121127;
          border-radius: 15px 50px 50px 15px;
          margin-right: 12px;
          box-shadow: 0 0 0 1.5px rgb(255, 255, 255),
            6px 0 0 0 rgba(18, 17, 39, 0.32);
        }
      }
      .dialog-window__about {
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        margin: 0 auto 13px;
      }
      .dialog-window__about-text {
        width: 308px;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        margin: 0 auto;
        margin-bottom: 39px;
      }
      .dialog-window__form {
        & > input {
          display: block;
          width: 318px;
          padding: 15px;
          box-sizing: border-box;
          border: 1px solid #d9d9d9;
          border-radius: 10px;
          margin: 0 auto;
          margin-bottom: 31px;
          &[placeholder] {
            font-size: 20px;
            line-height: 120%;
          }
        }
        & > button {
          width: 318px;
          padding: 15px;
          box-sizing: border-box;
          font-weight: 600;
          font-size: 20px;
          line-height: 120%;
          border: 0;
          border-radius: 10px;
          color: white;
          background-color: #000000;
        }
      }
      .dialog-window__text {
        width: 308px;
        font-size: 15px;
        line-height: 120%;
        color: #8d8d8d;
        margin: 0 auto;
        margin-top: 24px;
        text-align: start;
      }
    }
    .dialog-window__icon {
      width: 50%;
      height: 657px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 0 24px 24px 0;
      background-image: url("../img/lampa.png");
    }
    .dialog-window__close {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 18px;
      right: 23px;
      border: 1px solid #d9d9d9;
      background-color: #d9d9d9;
      border-radius: 40px;
      color: white;
      font-size: 40px;
      padding: 0;
      z-index: 2;
      transition: 0.4s;
      &:hover {
        background-color: white;
        color: red;
      }
    }
  }
  @media (max-width: $breakpoint_lg) {
    .dialog-window {
      width: 720px;
    }
  }
  @media (max-width: $breakpoint_md) {
    .dialog-window {
      width: 540px;
      height: 467px;
      .dialog-window__block {
        width: 60%;
        .dialog-window__dlex {
          margin-bottom: 20px;
        }
        .dialog-window__about {
          font-size: 32px;
          margin: 0 auto 13px;
        }
        .dialog-window__about-text {
          width: 280px;
          font-size: 18px;
          margin: 0 auto;
          margin-bottom: 25px;
        }
        .dialog-window__form {
          & > input {
            width: 298px;
            margin: 0 auto;
            margin-bottom: 22px;
            &[placeholder] {
              font-size: 18px;
            }
          }
          & > button {
            width: 298px;
            font-size: 18px;
          }
        }
        .dialog-window__text {
          width: 298px;
          font-size: 14px;
        }
      }
      .dialog-window__icon {
        width: 40%;
        height: 467px;
      }
      .dialog-window__close {
        width: 40px;
        height: 40px;
        top: 16px;
        right: 16px;
        font-size: 26px;
      }
    }
  }
  @media (max-width: $breakpoint_sm) {
    .dialog-window {
      width: 290px;
      height: 588px;
      flex-direction: column-reverse;
      .dialog-window__block {
        width: 100%;
        .dialog-window__dlex {
            margin-top: 15px;
          margin-bottom: 8px;
        }
        .dialog-window__about {
          font-size: 26px;
          margin: 0 auto 13px;
        }
        .dialog-window__about-text {
          width: 250px;
          font-size: 16px;
          margin: 0 auto;
          margin-bottom: 20px;
        }
        .dialog-window__form {
          & > input {
            width: 260px;
            margin: 0 auto;
            margin-bottom: 16px;
            &[placeholder] {
              font-size: 14px;
            }
          }
          & > button {
            width: 260px;
            font-size: 16px;
          }
        }
        .dialog-window__text {
          width: 260px;
          font-size: 12px;
          margin-top: 8px;
          margin-bottom: 28px;
        }
      }
      .dialog-window__icon {
        width: 100%;
        height: 100%;
        border-radius: 24px 24px 0 0;
      }
      .dialog-window__close {
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
        font-size: 20px;
      }
    }
  }
}
.nav {
  width: 72%;
  .logo {
    width: 20.9px;
    height: 27px;
    background-size: contain;
    background-color: #121127;
    border-radius: 15px 50px 50px 15px;
    margin-right: 12px;
    box-shadow: 0 0 0 1.5px rgb(255, 255, 255), 6px 0 0 0 rgba(18, 17, 39, 0.32);
  }
  .nav__links {
    margin: 0;
    & > li {
      margin: 0;
    }
    .nav__links-items {
      gap: 48px;
      margin-left: 40px;
      p {
        color: #121127b8;
      }
    }
  }
}
.account {
  width: 28%;
  justify-content: end;
  gap: 8px;
  .account__sin {
    width: 102px;
    height: 40px;
    border: 0;
    background-color: white;
    line-height: 24px;
    border-radius: 6px;
    transition: 0.4s;
    &:hover {
      filter: brightness(75%);
    }
  }
  .account__sup {
    width: 102px;
    height: 40px;
    border: 0;
    background-color: #444bd3;
    line-height: 24px;
    color: white;
    border-radius: 6px;
    transition: 0.4s;
    &:hover {
      filter: opacity(60%);
    }
  }
}
.preview {
  width: 65%;
  padding: 88px 0 163px;
  margin: 0 auto;
  position: relative;
  & > h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  & > p {
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    color: #121127b8;
    margin: 0;
  }
  .preview__diagram {
    position: absolute;
    top: 108px;
    left: -189px;
  }
  .preview__memoji {
    position: absolute;
    top: 178px;
    right: -45px;
  }
  .preview__gift {
    position: absolute;
    top: 303px;
    left: -3vw;
    width: 173px;
    height: 77px;
    box-shadow: 0 40px 80px -16px #00000014;
    border-radius: 12px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    & > svg {
      width: 49px;
      height: 49px;
      background-image: linear-gradient(#f78291, #e75c6b);
      border-radius: 24.5px;
    }
    .preview__gift-text {
      margin-left: 12px;
      & > p {
        margin: 0;
        line-height: 120%;
      }
      .text-p-about {
        font-weight: 700;
        font-size: 17px;
        margin-bottom: 7px;
      }
      .text-p {
        font-size: 11px;
        color: #8b898f;
      }
    }
  }
  .preview__video {
    display: block;
    height: 100%;
    margin: 72px auto 0;
    border-radius: 16px;
    box-shadow: 0 20px 80px 0 #00000033;
    z-index: 1;
  }
  .preview__send {
    width: 260px;
    height: 132px;
    position: absolute;
    top: 696px;
    right: -112px;
    background-color: #ffffff;
    box-shadow: 0 40px 80px -16px #00000014;
    border-radius: 12px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .preview__send-svg {
      display: flex;
      align-items: center;
      justify-content: center;
      & > svg {
        width: 42px;
        height: 42px;
        background-color: #ffbb24;
        border-radius: 21px;
      }
      .preview__send-text {
        margin-left: 11px;
        & > p {
          margin: 0;
          line-height: 120%;
        }
        .text-p-about {
          font-weight: 700;
          font-size: 17px;
          margin-bottom: 7px;
        }
        .text-p {
          font-size: 11px;
          color: #8b898f;
        }
      }
    }
    .preview__send-icon {
      padding-top: 18px;
      padding-right: 94px;
      & > img {
        border-radius: 18px;
        box-sizing: content-box;
      }
      & > svg {
        width: 30px;
        height: 30px;
        border: 3px solid white;
        border-radius: 18px;
        background-color: #5cb6e9;
        box-sizing: content-box;
      }
    }
  }
  .preview__fly {
    position: absolute;
    top: 713px;
    left: -80px;
  }
  @media (min-width: 2000px) {
    .preview__gift {
      top: 240px;
      left: -55px;
    }
    .preview__video {
      width: 90%;
    }
    .preview__send {
      top: 40.5vw;
    }
  }
  @media (min-width: 1800px) {
    .preview__gift {
      left: -25px;
    }
    .preview__send {
      top: 43.5vw;
      right: -90px;
    }
  }
  @media (min-width: 1500px) {
    .preview__video {
      width: 80%;
    }
    .preview__send {
      top: 45vw;
    }
  }
  @media (max-width: $breakpoint_xxl) {
    .preview__gift {
      top: 285px;
      left: -10vw;
    }
    .preview__video {
      margin-top: 52px;
      width: 95%;
    }
    .preview__send {
      top: 53vw;
      right: -15vw;
    }
    .preview__fly {
      top: 54vw;
      left: -11.5vw;
    }
  }
  @media (max-width: $breakpoint_xl) {
    & > h1 {
      font-size: 42px;
      margin-bottom: 10px;
    }
    & > p {
      font-size: 18px;
    }
    .preview__gift {
      top: 230px;
      left: -10.5vw;
      .preview__gift-text {
        margin-left: 8px;
      }
    }
    .preview__video {
      margin-top: 42px;
      width: 90%;
    }
    .preview__send {
      top: 50vw;
      right: -16.5vw;
    }
    .preview__fly {
      top: 51vw;
      left: -12vw;
    }
  }
  @media (max-width: 1023px) {
    padding-bottom: 56px;
    & > h1 {
      font-size: 35px;
    }
    & > p {
      font-size: 16px;
    }
    .preview__diagram {
      width: 132px;
      height: 132px;
      top: 98px;
      left: -120px;
    }
    .preview__memoji {
      top: 132px;
    }
    .preview__gift {
      top: 205px;
      left: -6vw;
      width: 122px;
      height: 47px;
      & > svg {
        width: 36px;
        height: 36px;
      }
      .preview__gift-text {
        margin-left: 5px;
        .text-p-about {
          font-size: 13px;
          margin-bottom: 4px;
        }
        .text-p {
          font-size: 10px;
        }
      }
    }
    .preview__video {
      width: 100%;
    }
    .preview__send {
      position: relative;
      top: 0;
      right: 0;
      margin: 0 auto;
      margin-top: 20px;
    }
    .preview__fly {
      width: 100px;
      height: 101px;
      top: 58vw;
      left: -13.5vw;
    }
  }
  @media (max-width: $breakpoint_md) {
    & > h1 {
      font-size: 26px;
      margin-bottom: 4px;
    }
    & > p {
      font-size: 12px;
    }
    .preview__diagram {
      width: 100px;
      height: 100px;
      left: -80px;
    }
    .preview__memoji {
      width: 59px;
      height: 59px;
      top: 125px;
      right: -50px;
    }
    .preview__gift {
      top: 180px;
      left: -7vw;
      background-color: white;
    }
    .preview__send {
      width: 190px;
      height: 100px;
      margin-top: 14px;
      .preview__send-svg {
        & > svg {
          width: 34px;
          height: 34px;
        }
        .preview__send-text {
          margin-left: 8px;
          .text-p-about {
            font-size: 13px;
            margin-bottom: 3px;
          }
          .text-p {
            font-size: 10px;
          }
        }
      }
      .preview__send-icon {
        padding-top: 10px;
        padding-right: 65px;
        & > img {
          width: 25px;
          height: 25px;
        }
        & > svg {
          width: 25px;
          height: 25px;
        }
      }
    }
    .preview__video {
      margin-top: 22px;
      border-radius: 10px;
    }
    .preview__fly {
      width: 80px;
      height: 81px;
    }
  }
  @media (max-width: $breakpoint_sm) {
    width: 90%;
    & > h1 {
      font-size: 19px;
      margin-bottom: 4px;
    }
    & > p {
      font-size: 9px;
    }
    .preview__diagram {
      width: 60px;
      height: 60px;
      top: 92px;
      left: -30px;
    }
    .preview__memoji {
      width: 39px;
      height: 39px;
      top: 115px;
      right: -10px;
    }
    .preview__gift {
      top: 150px;
      left: -10px;
      width: 80px;
      height: 30px;
      border-radius: 8px;
      & > svg {
        width: 22px;
        height: 22px;
      }
      .preview__gift-text {
        margin-left: 3px;
        .text-p-about {
          font-size: 9px;
          margin-bottom: 1px;
        }
        .text-p {
          font-size: 7px;
        }
      }
    }
    .preview__video {
      margin-top: 14px;
    }
    .preview__send {
      margin-top: 8px;
    }
    .preview__fly {
      display: none;
    }
  }
}
.about {
  width: 78.334%;
  padding: 24px 0 96px;
  margin: 0 auto;
  & > h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
    color: #444bd3;
  }
  & > h3 {
    width: 604px;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    margin-bottom: 40px;
  }
  .about__flex {
    overflow: hidden;
    margin: 0 auto;
    .about__flex-slider {
      display: flex;
      align-items: center;
      gap: 2.128%;
      & > div {
        flex: 0 0 23.404%;
        width: 23.404%;
        height: 322px;
        border-radius: 12px;
        background-color: #ffffff;
        box-shadow: 0 20px 50px 0 #12112714;
        padding: 6.6vh 1.66vw;
      }
      .flex-text-about {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 16px;
      }
      .flex-text {
        font-size: 14px;
        line-height: 180%;
        margin: 0;
      }
    }
    .about__flex-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      & > button {
        width: 40px;
        height: 40px;
        background-color: #fff0f5;
        border: 0;
        border-radius: 32px;
      }
      .about__flex-bkgr {
        width: 60px;
        margin: 0 16px;
        .about__flex-items {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          margin: 0;
          padding: 0;
          list-style: none;
          & > li > div {
            width: 4px;
            height: 4px;
            background-color: #32334c;
            border-radius: 2px;
            cursor: pointer;
            transition: 0.4s;
          }
          .about__flex-item_active {
            width: 8px;
            height: 8px;
            border: 1px solid #9d097c;
            background-color: #9d097c;
            margin-right: 8px;
            border-radius: 4px;
            outline: 1px solid #9d097c;
            outline-offset: 8px;
            &[data-slide="1"],
            &[data-slide="2"],
            &[data-slide="3"] {
              margin-left: 8px;
            }
            &[data-slide="3"] {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
  @media (max-width: $breakpoint_xl) {
    padding-bottom: 63px;
    & > h3 {
      width: 525px;
      font-size: 36px;
    }
    .about__flex {
      .about__flex-slider {
        & > div {
          flex: 0 0 31.914%;
          width: 31.914%;
          height: 322px;
        }
      }
      .about__flex-btn {
        .about__flex-bkgr {
          .about__flex-items {
            .about__flex-item-4 {
              display: none;
            }
          }
        }
      }
    }
  }
  @media (max-width: $breakpoint_lg) {
    & > h2 {
      font-size: 13px;
    }
    & > h3 {
      width: 464px;
      font-size: 32px;
    }
    .about__flex {
      .about__flex-slider {
        & > div {
          flex: 0 0 48.936%;
          width: 48.936%;
          height: 322px;
        }
      }
      .about__flex-btn {
        .about__flex-bkgr {
          .about__flex-items {
            .about__flex-item_4 {
              display: inline;
            }
          }
        }
      }
    }
  }
  @media (max-width: $breakpoint_md) {
    padding-bottom: 28px;
    & > h2 {
      font-size: 12px;
    }
    & > h3 {
      width: 384px;
      font-size: 26px;
      margin-bottom: 25px;
    }
    .about__flex {
      .about__flex-slider {
        & > div {
          flex: 0 0 100%;
          width: 100%;
          height: 244px;
          padding: 3vh 5vw;
        }
      }
      .about__flex-btn {
        & > button {
          width: 30px;
          height: 30px;
          font-size: 10px;
        }
        .about__flex-bkgr {
          .about__flex-items {
            .about__flex-item_active {
              outline-offset: 6px;
            }
          }
        }
      }
    }
  }
  @media (max-width: $breakpoint_sm) {
    width: 90%;
    & > h2 {
      font-size: 10px;
    }
    & > h3 {
      width: 284px;
      font-size: 19px;
    }
    .about__flex {
      .about__flex-slider {
        & > div {
          height: 214px;
          padding: 3vh 5vw;
        }
      }
      .about__flex-btn {
        & > button {
          width: 25px;
          height: 25px;
          font-size: 10px;
        }
        .about__flex-bkgr {
          width: 50px;
          .about__flex-items {
            .about__flex-item_4 {
              display: inline;
            }
          }
        }
      }
    }
  }
}
.payments {
  width: 100%;
  padding: 129px 10.833% 96px 10.833%;
  margin: 0 auto;
  background-color: #f9f9fb;
  & > h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
    color: #444bd3;
  }
  & > h3 {
    width: fit-content;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    margin-bottom: 40px;
  }
  .payments__grid {
    display: grid;
    grid-template-columns: 40.426% 48.936%;
    grid-template-rows: auto;
    align-items: center;
    gap: 10.638%;
    & > div > h4 {
      color: #444bd3;
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      margin-bottom: 12px;
    }
    & > div > p {
      font-size: 16px;
      line-height: 180%;
      color: #1211278f;
      margin-bottom: 32px;
    }
    .payments__grid-img {
      width: 100%;
      margin-bottom: 32px;
      box-shadow: 0 7px 30px 0 #1211271f;
    }
    .payments__grid-img_width {
      width: 82.609%;
    }
    .payments__grid-box {
      width: 35.507%;
      position: absolute;
      right: 0;
      top: 19vw;
      box-shadow: 0 20px 50px 0 #12112714;
    }
    .payments__grid-list {
      padding-left: 2px;
      margin: 0;
      list-style: none;
      & > li > div {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        background-color: #90ecf4;
        border-radius: 10px;
      }
      .payments__grid-row {
        display: flex;
        align-items: center;
        gap: 13px;
      }
    }
  }
  @media (min-width: 1900px) {
    .payments__grid {
      .payments__grid-box {
        top: 17.5vw;
      }
    }
  }
  @media (min-width: 1700px) {
    .payments__grid {
      .payments__grid-box {
        top: 18vw;
        right: 1vw;
      }
    }
  }
  @media (max-width: $breakpoint_xxl) {
    .payments__grid {
      .payments__grid-box {
        top: 23.5vw;
        right: 0vw;
      }
      .payments__grid-list {
        font-size: 14px;
      }
    }
  }
  @media (max-width: $breakpoint_xl) {
    padding-top: 63px;
    padding-bottom: 63px;
    & > h3 {
      font-size: 36px;
    }
    .payments__grid {
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
      gap: 35px;
      & div > h4 {
        font-size: 24px;
      }
      & > div > p {
        font-size: 20px;
      }
      .payments__grid-box {
        top: 52%;
      }
      .payments__grid-list {
        font-size: 18px;
      }
    }
  }
  @media (max-width: $breakpoint_lg) {
    & > h2 {
      font-size: 13px;
    }
    & > h3 {
      font-size: 32px;
    }
    .payments__grid {
      & div > h4 {
        font-size: 20px;
      }
      & > div > p {
        font-size: 16px;
      }
      .payments__grid-list {
        font-size: 14px;
      }
    }
  }
  @media (max-width: $breakpoint_md) {
    padding-top: 24px;
    & > h2 {
      font-size: 12px;
    }
    & > h3 {
      font-size: 26px;
      margin-bottom: 25px;
    }
    .payments__grid {
      & div > h4 {
        font-size: 18px;
      }
      & > div > p {
        font-size: 14px;
      }
      .payments__grid-box {
        top: 55%;
      }
      .payments__grid-list {
        font-size: 12px;
      }
    }
  }
  @media (max-width: $breakpoint_sm) {
    padding-left: 5%;
    padding-bottom: 5%;
    & > h2 {
      font-size: 10px;
    }
    & > h3 {
      font-size: 19px;
      margin-bottom: 25px;
    }
    .payments__grid {
      & div > h4 {
        font-size: 14px;
      }
      & > div > p {
        font-size: 10px;
        margin-bottom: 15px;
      }
      .payments__grid-img {
        margin-bottom: 15px;
      }
      .payments__grid-list {
        font-size: 8px;
      }
    }
  }
}
.subscription {
  max-width: 1128px;
  padding: 61px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .subscription__block {
    .subscription__block-about {
      font-weight: 700;
      font-size: 32px;
      line-height: 140%;
      margin-bottom: 8px;
    }
    .subscription__block-text {
      font-size: 18px;
      line-height: 180%;
      color: #1211278f;
      margin: 0;
    }
  }
  .subscription__btn {
    width: 195px;
    height: 52px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    color: white;
    background-color: #444bd3;
    border-radius: 8px;
    border: 0;
    transition: 0.4s;
    &:hover {
      filter: opacity(60%);
    }
  }
  @media (max-width: $breakpoint_xl) {
    flex-direction: column;
    .subscription__block {
      .subscription__block-about {
        text-align: center;
        font-size: 30px;
      }
      .subscription__block-text {
        font-size: 16px;
        text-align: center;
        margin-bottom: 18px;
      }
    }
  }
  @media (max-width: $breakpoint_md) {
    padding: 34px;
    .subscription__block {
      .subscription__block-about {
        font-size: 20px;
      }
      .subscription__block-text {
        font-size: 9px;
        margin-bottom: 10px;
      }
    }
    .subscription__btn {
      width: 120px;
      height: 32px;
      font-size: 10px;
    }
  }
  @media (max-width: $breakpoint_sm) {
    padding: 18px;
    .subscription__block {
      width: 280px;
    }
  }
}
.suggestion {
  width: 100%;
  background-color: #444bd3;
  padding: 96px 0;
  .suggestion__block {
    width: 620px;
    margin: 0 auto;
    .suggestion__about {
      width: 100%;
      font-weight: 700;
      font-size: 44px;
      line-height: 140%;
      color: white;
      text-align: center;
      margin-bottom: 20px;
    }
    .suggestion__text {
      font-size: 20px;
      line-height: 180%;
      color: #ffffff8f;
      text-align: center;
      margin-bottom: 20px;
    }
    .suggestion__btn {
      display: block;
      width: 186px;
      height: 52px;
      color: #444bd3;
      font-size: 16px;
      font-weight: 500;
      line-height: 100%;
      background-color: white;
      border-radius: 8px;
      border: 0;
      margin: 0 auto;
      transition: 0.4s;
      &:hover {
        filter: brightness(75%);
      }
    }
  }
  @media (max-width: $breakpoint_lg) {
    .suggestion__block {
      width: 580px;
      .suggestion__about {
        font-size: 40px;
      }
      .suggestion__text {
        font-size: 18px;
      }
    }
  }
  @media (max-width: $breakpoint_md) {
    padding-top: 69px;
    padding-bottom: 69px;
    .suggestion__block {
      width: 520px;
      .suggestion__about {
        font-size: 36px;
      }
      .suggestion__text {
        font-size: 14px;
      }
    }
  }
  @media (max-width: $breakpoint_sm) {
    padding-top: 36px;
    padding-bottom: 36px;
    .suggestion__block {
      width: 280px;
      .suggestion__about {
        font-size: 18px;
        margin-bottom: 8px;
      }
      .suggestion__text {
        font-size: 11px;
      }
      .suggestion__btn {
        width: 111px;
        height: 32px;
        font-size: 10px;
      }
    }
  }
}
.ref {
  width: 78.334%;
  padding: 56px 0 63px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 284px 193px 192px 195px 55px;
  grid-template-rows: auto;
  justify-content: center;
  align-items: start;
  .ref__about {
    margin-right: 24px;
    .logo {
      width: 20.9px;
      height: 27px;
      background-size: contain;
      background-color: #444bd3;
      border-radius: 15px 50px 50px 15px;
      margin-right: 12px;
      box-shadow: 0 0 0 1.5px rgb(255, 255, 255),
        6px 0 0 0 rgba(18, 17, 39, 0.32);
    }
    & > a {
      color: #444bd3;
      margin-bottom: 28px;
    }
    & > p {
      font-size: 14px;
      line-height: 180%;
      color: #1211278f;
    }
    .ref__about-icon {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
  & > ul {
    list-style: none;
    a {
      color: #121127;
    }
  }
  .ref__solitions {
    padding: 0;
    margin: 0;
  }
  .ref__support {
    padding: 0;
    margin: 0;
  }
  .ref__company {
    padding: 0;
    margin: 0;
  }
  .ref__legal {
    padding: 0;
    margin: 0;
  }
  .ref__about-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
    color: #12112766;
    text-transform: uppercase;
  }
  .ref__text {
    font-size: 14px;
    line-height: 180%;
    margin-bottom: 8px;
  }
  @media (max-width: $breakpoint_xl) {
    width: 90%;
    grid-template-columns: 193px 192px 195px 55px;
    grid-template-rows: auto auto;
    row-gap: 45px;
    .ref__about {
      grid-column-start: 1;
      grid-column-end: 5;
      margin-right: 0;
    }
    .ref__solitions {
      grid-column-start: 1;
      grid-row-start: 2;
    }
    .ref__support {
      grid-column-start: 2;
      grid-row-start: 2;
    }
    .ref__company {
      grid-column-start: 3;
      grid-row-start: 2;
    }
    .ref__legal {
      grid-column-start: 4;
      grid-row-start: 2;
    }
  }
  @media (max-width: $breakpoint_md) {
    grid-template-columns: 193px 192px 80px;
    grid-template-rows: auto auto;
    row-gap: 45px;
    padding: 32px 0 23px;
    .ref__about {
      grid-column-start: 1;
      grid-column-end: 3;
      margin-right: 15px;
    }
    .ref__solitions {
      grid-column-start: 1;
      grid-row-start: 2;
    }
    .ref__support {
      grid-column-start: 2;
      grid-row-start: 2;
    }
    .ref__company {
      grid-column-start: 3;
      grid-row-start: 2;
    }
    .ref__legal {
      grid-column-start: 3;
      grid-row-start: 1;
    }
  }
  @media (max-width: $breakpoint_sm) {
    grid-template-columns: 170px 110px;
    grid-template-rows: auto auto auto;
    row-gap: 25px;
    padding-bottom: 16px;
    .ref__about {
      grid-column-start: 1;
      grid-column-end: 3;
      margin-right: 0;
    }
    .ref__solitions {
      grid-column-start: 1;
      grid-row-start: 2;
    }
    .ref__support {
      grid-column-start: 2;
      grid-row-start: 2;
    }
    .ref__company {
      grid-column-start: 1;
      grid-row-start: 3;
    }
    .ref__legal {
      grid-column-start: 2;
      grid-row-start: 3;
    }
  }
}
.copyright {
  width: 78.334%;
  border-top: 1px solid #1211271f;
  padding: 37px 0;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 180%;
  color: #1211278f;
  @media (max-width: $breakpoint_md) {
    padding: 27px 0;
  }
  @media (max-width: $breakpoint_sm) {
    padding: 12px 0;
  }
}
